/* src/styles/globals.css */
/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));


/* Apply global font families and custom background styles */
/* body {
  @apply font-sans text-textPrimary bg-[#181A20] dark:bg-SecondaryBg;
  position: relative;
  overflow-x: hidden;
} */

/* Adjust link styles */
/* a {
  @apply text-accentBlue hover:no-underline;
} */








/* styles from YK*/
/* Inter font */
.inter-fonts {
  font-family: "Inter", sans-serif !important;
}

/* Instrument font */
.instrument-fonts {
  font-family: "Instrument Sans", serif;
}

.robboto-fonts {
  font-family: "Roboto", serif !important;
}

/* Sofia Pro font */
.sofia-fonts {
  font-family: 'Sofia Pro', sans-serif !important;
}

.colfaxfont {
  font-family: 'Colfax', sans-serif !important;
}

/* animations */
/* Define the blink keyframes */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes blinktwo {

  0%,
  100% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
}

/* Create a custom class for blinking animation */
.animate-blink {
  animation: blink 2s infinite;
}

.animate-blinktwo {
  animation: blinktwo 2s infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee2 {
  animation: marquee2 50s linear infinite;
}


@keyframes borderSmoke {
  0% {
    border-color: #00E5FF;
    box-shadow: 0 0 5px #00E5FF;
  }

  25% {
    border-color: #00E5FF;
    box-shadow: 0 0 10px #00E5FF;
  }

  50% {
    border-color: #00E5FF;
    box-shadow: 0 0 15px #00E5FF;
  }

  75% {
    border-color: #00E5FF;
    box-shadow: 0 0 10px #00E5FF;
  }

  100% {
    border-color: #00E5FF;
    box-shadow: 0 0 5px #00E5FF;
  }
}

.border-animation {
  /* border: 4px solid; */
  border-radius: 20px;
  animation: borderSmoke 3s infinite linear;
}

.king-card1 {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  /* To prevent animation overflow */
}

/* Creating animated border effect */
.king-card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  border-radius: inherit;
  /* Ensures border follows parent's radius */
  border: 4px solid transparent;
  animation: borderAnimation 3s infinite linear;

  /* Masking trick for rounded corners */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.king-card2 {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  /* To prevent animation overflow */
}

/* Creating animated border effect */
.king-card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  border-radius: inherit;
  /* Ensures border follows parent's radius */
  border: 4px solid transparent;
  animation: borderAnimation2 3s infinite linear;

  /* Masking trick for rounded corners */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.king-card3 {
  position: relative;
  /* border-radius: 20px; added border-radius to using tailwind class*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  /* To prevent animation overflow */
}

/* Creating animated border effect */
.king-card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  border-radius: inherit;
  /* Ensures border follows parent's radius */
  border: 4px solid transparent;
  animation: borderAnimation3 3s infinite linear;

  /* Masking trick for rounded corners */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(to right, #00E5FF, transparent);
    border-image-slice: 1;
  }

  25% {
    border-image-source: linear-gradient(to bottom, #00E5FF, transparent);
    border-image-slice: 1;
  }

  50% {
    border-image-source: linear-gradient(to left, #00E5FF, transparent);
    border-image-slice: 1;
  }

  75% {
    border-image-source: linear-gradient(to top, #00E5FF, transparent);
    border-image-slice: 1;
  }

  100% {
    border-image-source: linear-gradient(to right, #00E5FF, transparent);
    border-image-slice: 1;
  }
}

@keyframes borderAnimation2 {
  0% {
    border-image-source: linear-gradient(to right, #39FF14, transparent);
    border-image-slice: 1;
  }

  25% {
    border-image-source: linear-gradient(to bottom, #39FF14, transparent);
    border-image-slice: 1;
  }

  50% {
    border-image-source: linear-gradient(to left, #39FF14, transparent);
    border-image-slice: 1;
  }

  75% {
    border-image-source: linear-gradient(to top, #39FF14, transparent);
    border-image-slice: 1;
  }

  100% {
    border-image-source: linear-gradient(to right, #39FF14, transparent);
    border-image-slice: 1;
  }
}

@keyframes borderAnimation3 {
  0% {
    border-image-source: linear-gradient(to right, #5A00FA, transparent);
    border-image-slice: 1;
  }

  25% {
    border-image-source: linear-gradient(to bottom, #5A00FA, transparent);
    border-image-slice: 1;
  }

  50% {
    border-image-source: linear-gradient(to left, #5A00FA, transparent);
    border-image-slice: 1;
  }

  75% {
    border-image-source: linear-gradient(to top, #5A00FA, transparent);
    border-image-slice: 1;
  }

  100% {
    border-image-source: linear-gradient(to right, #5A00FA, transparent);
    border-image-slice: 1;
  }
}

/* animations */

.active {
  color: #FFB92D;
  border-bottom: 1px solid #FFB92D;
}

.grap-down #dropdownHoverButton {
  box-shadow: 0px 8px 16px 0px #FF971D26;
}

.list-disc-yellow li::marker {
  color: yellow;
  font-size: 20px;
}

/* Hide scrollbar for Chrome, Safari and Edge */
#profile ::-webkit-scrollbar {
  display: none !important;
}

#settingss ::-webkit-scrollbar {
  display: none !important;
}

.inner-head {
  background: linear-gradient(180deg, #151515 37%, #343434 100%);
}
.outer-head {
  background: linear-gradient(180deg, #ffffff 20%, #343434 100%);
}

.how-cards {
  box-shadow: 0px 4px 54px 0px #000000F2;
}


/* pulse animation for success button */
.circle {
  border-radius: 50%;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}










@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Hide number input spinners for Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}